<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.id %}
	<title>{{ page.title }} | {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}
  {% seo %}
  <link rel="stylesheet" href="{{ "/main.css" | relative_url }}">
  <link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ site.baseurl }}/img/apple-icon-precomposed.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">


  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}

  <!-- Global site tag - Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-74QGH7BK80"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-74QGH7BK80');
</script>

</head>
