

.murky-green {
    background-color: $murky-green;
    border-color: $murky-green;
}
.turquoise {
  color: $turquoise;
}

.grey {
  background-color: #cccccc;
  color: #cccccc;
}

.green {
    background-color: $green;
    border-color: $green;

}

.emerald {
    background-color: $emerald;
    border-color: $emerald;
}

.dark-green {
    background-color: $dark-green;
    border-color: $dark-green;
}

.red {
    background-color: $red;
    border-color: $red;
}

.orangey-yellow {
    background-color: $orangey-yellow;
    border-color: $orangey-yellow;
}

.blue {
    background-color: $blue;
    border-color: $blue;
}

.lime {
    background-color: $lime;
    border-color: $lime;
}

.greeny {
    background-color: $greeny;
    border-color: $greeny;
}

.yellow {
    background-color: $yellow;
    border-color: $yellow;
}

.maroon {
    background-color: $maroon;
    border-color: $maroon;
}

.pink {
    background-color: $pink;
    border-color: $pink;
}

.turquoise {
    background-color: $turquoise;
    border-color: $turquoise;
}

.purple {
    background-color: $purple;
    border-color: $purple;
}

.mauve {
    background-color: $mauve;
    border-color: $mauve;
}
